@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.2%;
}
.container {
  padding-top: 2%;
  width: 100%;
  height: auto;
  background-color: #6a2fbf;
}
.navbar {
  width: 92%;
  margin: 0% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlist {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlist li {
  list-style: none;
}
.nav-link {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.8rem;
}
.logo > img {
  width: 70%;
  filter: invert();
}
.active-link {
  color: #1bbcef;
  border-bottom: 2px solid white;
}
.nav-btn {
  background-color: #1bbcef;
  padding: 0.8rem 1.5rem;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  border: none;
}
.hero {
  width: 92%;
  margin: 0% auto;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-left {
  width: 30%;
}
.hero-left > h1 {
  font-size: 5rem;
  font-weight: 500;
}
.hero-left > p {
  font-size: 1.6rem;
  letter-spacing: 2px;
}
.hero-right {
  width: 50%;
}
.hero-right > img {
  width: 95%;
}
.section01 {
  width: 93%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-left {
  width: 50%;
}
.section-left > img {
  width: 90%;
}

.features {
  margin-left: 5%;
}
.feature {
  margin: 0%;
  padding: 0%;
}
.feature p,
h4 {
  margin: 5px;
}
.section02 {
  width: 92%;
  display: block;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section02 > h1 {
  font-size: 5rem;
  font-weight: 500;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.card {
  width: 18%;
  padding: 2rem 0.5rem;
  box-shadow: 0px 5px 10px rgb(63, 60, 60);
  margin-bottom: 5%;
  border-radius: 5px;
}
.card-img > img {
  width: 7rem;
}
.forth > img {
  color: #6a2fbf;
}
.orange,
.green,
.blue {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
i {
  font-size: 2rem;
}
.feature h4 {
  font-size: 2rem;
}
.orange > i {
  color: orange;
  margin-right: 5px;
}
.green > i {
  color: green;
  margin-right: 5px;
}
.blue > i {
  color: rgb(6, 161, 223);
  margin-right: 5px;
}
.navbar > i {
  display: none;
  color: white;
  font-size: 2rem;
}
@media only screen and (max-width: 1200px) {
 
  .hero-right {
    display: none;
  }
  .hero-left {
    width: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
  .navlist {
    display: none;
  }
  .navbar > i {
    display: block;
  }
  .section-left {
    display: none;
  }
  .card {
    width: 50%;
  }
  .cards {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
